#heading {
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.55);
  font-size: large;
  letter-spacing: 1px;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 43px);
}

.col-button {
  margin: 5px;
  border-radius: 20%;
  background-color: black;
  text-align: center;
  align-content: center;
  color: white;
  display: block;
}

.col-button:hover {
  background-color: orange;
  color: white;
  scale: 1.2;
  cursor: pointer;
}

.cal-container {
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
}

#result,
#input-exp {
  text-align: end;
}

#result {
  background-color: rgb(0, 0, 0);
  color: goldenrod;
}

body {
  background-image: url(img.png);
}

.page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
